<% include ./partials/header %>
<style  type="text/css">
    .ui.main{
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>
<div class="ui main text container ">
    <div class="ui huge header ">
        <%= blog.title %>
    </div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centeres rounded image" src="<%= blog.image %>">
            <div class="content">
                <span> <%=  blog.created.toDateString() %> </span>
            </div>
            <div class="description">
                <p> <%=  blog.body %> </p>
            </div>
            <a class="ui orange basic button"  href="/blogs/<%= blog._id %>/edit" >Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">DELETE</button>
            </form>
        </div>

    </div>
</div>

<% include ./partials/footer %>